/* 欢迎使用guiPlan,以下代码均由guiPlan软件生成，如有疑问添加添加作者微信guiplan或加入学习交流qq群711964722  */
.main {
    margin: 0px;
    padding: 0px;
}

.indexhtmlcssStart {}

.usRtnIA {
    float: left
}

.uCRX4Rj {
    width: 45vw;
    float: right;
    object-fit: cover
}

.uG9nOhR {
    float: inline-start
}

.udgMee4 {
    float: right, inline-end
}

.indexhtmlcssEnd {}